extends ./layout/index

block contenido
    main.container.mt-5
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg" alt="imagen nosotros" class="img-fluid")
            .col-md-7
                h1= page
                p Nulla pretium vulputate commodo. Nam finibus nisi id nulla tincidunt auctor. Duis molestie risus felis, nec tempus tellus maximus et. Vivamus facilisis euismod aliquam. Ut sodales metus dolor, ac ornare enim consectetur quis. Proin in fringilla leo. Sed congue lobortis interdum.

                p Praesent ornare, lorem pretium consectetur tempus, dolor nisi tempor leo, vitae imperdiet nulla nisi tempus sapien. Donec et placerat sem, a imperdiet enim. Ut ut nulla auctor, ornare nulla a, tincidunt metus. Proin eros erat, elementum placerat dolor malesuada, blandit lobortis nisi. Cras dolor lectus, mattis nec facilisis ut, efficitur et ex. Aliquam molestie tortor augue, vel placerat neque vulputate sed. Vivamus vehicula felis in turpis posuere vehicula. Morbi ut ex vitae ipsum commodo suscipit id vel massa.

                p Integer bibendum dignissim lacus nec suscipit. Nunc eu dui bibendum, mattis velit sed, sollicitudin nunc. Cras aliquam magna in elit auctor rutrum. Suspendisse tincidunt nulla vel dui eleifend, ut vulputate sapien bibendum. Aenean eu blandit nulla. In aliquam sem sit amet erat iaculis tristique sit amet et dolor. Donec viverra volutpat ligula. Ut sagittis placerat lectus sed finibus. Quisque aliquet nunc eget sodales ultrices. Praesent vel lobortis libero. Pellentesque blandit dui vel metus congue sodales. Sed erat libero, consectetur hendrerit vehicula sed, varius et odio. Phasellus in ex mattis, sagittis massa at, congue mauris. Vivamus at pharetra eros. Pellentesque lobortis fermentum interdum.

    .listado-iconos 
        .container.mt-5.py-4.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Nulla pretium vulputate commodo. Nam finibus nisi id nulla tincidunt auctor. Duis molestie risus felis, nec tempus tellus maximus et. 
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Nulla pretium vulputate commodo. Nam finibus nisi id nulla tincidunt auctor. Duis molestie risus felis, nec tempus tellus maximus et. 
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios 
                    p Nulla pretium vulputate commodo. Nam finibus nisi id nulla tincidunt auctor. Duis molestie risus felis, nec tempus tellus maximus et. 